@font-face {
    font-family: SocialIco;
    src: url("./fonts/Socialico.ttf");
}


/*GENERAL*/

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    background: #ccc;
    font-family: Arial, sans-serif;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.heading {
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 35px;
}

a {
    text-decoration: none;
    color: #fff;
    margin-top: -200px;
}

a:hover {
    color: #fff;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    background-size: cover;
    display: block;
}


/*VIDEO PAGE*/

.containerVideo {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    top: 50%;
    left: 37%;
    transform: translate(0, -50%);
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
}


/*HEADER*/

.header {
    padding: 50px;
    color: #fff;
    background-color: #445161;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listHeader {
    font-size: 20px;
    list-style: inside url('./logos/check.png');
    line-height: 36px;
    float: left;
    padding-left: 0;
    margin-top: 28px;
}

.productVideo {
    float: right;
}

.source {
    margin-left: 44px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.headingHeader {
    font-size: 60px;
    font-weight: 400;
    float: left;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    width: 55%;
    margin: 0;
}


/*ABOUT YOUR PRODUCT*/

.description {
    color: #445161;
    background-color: #fff;
    padding: 50px;
    display: block;
}

.headingDescription {
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
}

.textDescription {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 58%;
}

.pictureDescription {
    background-color: #445161;
    float: right;
    height: 234px;
}


/*DIGNITY AND PLUSES PRODUCT*/

.pluses {
    color: #445161;
    background-color: #F5F5F5;
    float: left;
    padding: 50px;
    display: block;
}

ul {
    padding: 0;
}

.blockList {
    color: #445161;
    background-color: #F5F5F5;
}

i {
    font-size: 40px;
    margin-right: 15px;
}

.fa-twitter {
    padding-left: 0;
}

.listPluses {
    list-style: none;
    width: calc(50% - 8px);
    float: left;
    display: flex;
    color: #445161;
    background-color: #F5F5F5;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 35px;
}

.listPlusesBlock li {
    margin-top: 0;
}


/*SCREENSHOTS*/

.screenshots {
    color: #445161;
    background-color: #fff;
    float: left;
    font-weight: 200;
    padding: 50px;
    display: block;
}

.product {
    list-style: none;
    width: 50%;
    float: left;
    margin-bottom: 30px;
    display: flex;
}

h4 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    float: left;
}

.group {
    float: left;
    width: 30%;
    height: 30%;
}

.imgDescription {
    margin-left: 10px;
    margin-right: 10px;
}

.listScreenshots {
    float: left;
    color: #000;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}


/*REVIEWS*/

.reviews {
    color: #445161;
    background-color: #F5F5F5;
    padding: 50px;
    float: left;
    display: block;
}

.quotes {
    list-style: none;
    width: 50%;
    float: left;
    display: flex;
    padding-bottom: 29px;
    font-family: Arial, sans-serif;
    font-style: italic;
}

.listReviews {
    text-align: left;
    color: #000;
    margin: 0;
}

.round {
    border-radius: 100px;
    width: 76px;
    height: 76px;
    margin: 0;
}

.imgReviews {
    position: relative;
    color: #445161;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    float: right;
    background: #ebebeb;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 4px;
}

.imgReviews::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: -10px;
    top: 27px;
    background: #ebebeb;
    transform: rotate(45deg);
}

.lourens {
    color: #989898;
    font-weight: 200;
    margin: 2px;
    padding: 2px;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
}


/*PRICE BLOCKS*/

.types {
    background: #fff;
    display: block;
    padding: 50px;
}

.headingTypes {
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 35px;
    color: #445161;
}

.priceBlocks {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.standart {
    width: 298px;
    background: #445161;
    border-radius: 4px;
    border: 2px solid #445161;
}

.typeName {
    padding: 17px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}

.typePrice {
    text-align: center;
    padding: 18px;
    color: #445161;
    background: #fff;
    font-size: 40px;
    line-height: 30px;
}

.typeText {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    padding: 20px;
}

.button {
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    padding: 14px;
    background: #fff;
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    display: block;
    margin: 20px;
    text-decoration: none;
}

.button:hover {
    background-color: #83d1d6;
}


/*FOOTER*/

footer {
    background: #445161;
    display: block;
    padding: 50px;
}

.headingFooter {
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 35px;
    color: #fff;
}

.contacts {
    margin: 0 auto;
    max-width: 800px;
}

.form {
    display: block;
    float: left;
}

.socialNetworkContacts {
    padding-left: 40px;
    float: right;
    color: #fff;
}

input {
    margin-bottom: 20px;
    width: 501px;
    border-radius: 10px;
    border: none;
    color: #445161;
    font-family: Arial, sans-serif;
    padding-left: 10px;
    float: right;
    display: block;
    cursor: pointer;
    outline: none;
}

input:required:invalid {
    border: 2px solid red;
}

.name {
    display: block;
    width: 500px;
    border-radius: 5px;
    border: none;
    margin-bottom: 21px;
    padding: 7px 5px;
    box-sizing: border-box;
    color: #445161;
    font-size: 16px;
    line-height: 24px;
    outline: none;
}

.emailForm {
    display: block;
    width: 500px;
    border-radius: 5px;
    border: none;
    margin-bottom: 21px;
    padding: 7px 5px;
    box-sizing: border-box;
    color: #445161;
    font-size: 16px;
    line-height: 24px;
    outline: none;
}

.message {
    display: block;
    width: 500px;
    border-radius: 5px;
    border: none;
    padding: 7px 5px;
    box-sizing: border-box;
    color: #445161;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    font-family: inherit;
    min-height: 170px;
}

.date {
    display: block;
    width: 500px;
    border-radius: 5px;
    border: none;
    margin-bottom: 21px;
    padding: 7px 5px;
    box-sizing: border-box;
    color: #445161;
    font-size: 16px;
    line-height: 24px;
    outline: none;
}

.skype,
.icq,
.email {
    margin-bottom: 26px;
}

.tel {
    margin-bottom: 35px;
}

.logos {
    font-family: SocialIco, sans-serif;
    color: #fff;
    font-size: 60px;
    line-height: 44px;
    display: block;
}

.skype img,
.icq img,
.email img,
.tel img {
    margin-right: 6px;
}

.buttonContacts {
    border-radius: 5px;
    background-color: #fff;
    width: 140px;
    height: 40px;
    text-align: center;
    color: #445161;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
}

.buttonContacts:hover {
    background-color: #83d1d6;
    color: #fff;
}


/*COPYRIGHT*/

.copyright {
    text-align: center;
    background-color: #F5F5F5;
    color: #445161;
    height: 26px;
    bottom: 0;
    letter-spacing: .3px;
    line-height: 26px;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    float: left;
    display: block;
}


/*MEDIA*/


/*1200px*/

@media (max-width: 1200px) {
    .header {
        max-width: 970px;
    }
    .description {
        max-width: 970px;
    }
    .screenshots {
        max-width: 970px;
    }
    .standart {
        max-width: 40%;
        margin-bottom: 20px;
    }
    .pluses {
        max-width: 970px;
    }
    .product {
        width: 46%;
    }
    .copyright {
        max-width: 1200px;
    }
}


/*992px*/

@media (max-width: 992px) {
    .header {
        max-width: 750px;
    }
    .productVideo {
        float: left;
        margin-left: -50px;
    }
    .pluses {
        max-width: 750px;
    }
    .listPluses {
        width: 100%;
    }
    .description {
        max-width: 750px;
    }
    .pictureDescription {
        float: left;
    }
    .screenshots {
        max-width: 750px;
    }
    .product {
        width: auto;
    }
    .reviews {
        max-width: 750px;
    }
    .quotes {
        max-width: 100%;
    }
    .typeButton {
        max-width: 85%;
    }
    .contacts {
        max-width: 70%;
    }
    .socialNetworkContacts {
        padding-left: 40px;
        float: left;
    }
    .types {
        max-width: 750px;
    }
    footer {
        max-width: 750px;
    }
    .copyright {
        max-width: 850px;
    }
}


/*767px*/

@media (max-width: 767px) {
    .header {
        max-width: 650px;
    }
    .productVideo {
        float: left;
    }
    .pluses {
        max-width: 650px;
    }
    .listPluses {
        width: 100%;
    }
    .description {
        max-width: 650px;
    }
    .pictureDescription {
        float: left;
    }
    .screenshots {
        max-width: 650px;
    }
    .product {
        max-width: 100%;
    }
    .reviews {
        max-width: 650px;
    }
    .quotes {
        max-width: 100%;
    }
    .socialNetworkContacts {
        padding-left: 40px;
        float: left;
    }
    .types {
        max-width: 650px;
    }
    footer {
        max-width: 650px;
    }
    .contacts {
        max-width: 500px;
    }
    .copyright {
        max-width: 700px;
    }
    .priceBlocks {
        flex-direction: column;
        float: left;
    }
    .standart{
        max-width: 300px;
    }
}